* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

.header-top, .header-bottom, .quotes-container, .main-quote, .author, .signup-block {
    margin-left: 15%;
    margin-right: 15%;
}

.header, .footer {
    background-color: #1f2937;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 6px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.intro-img {
    flex: 1 1 auto;
    width: 50%;
    height: auto;
}

.header-bottom {
    display: flex;
    margin-bottom: 80px;
    gap: 12px;
    align-items: flex-start;
}

.hero-text {
    margin: 4px 0;
}

.intro-text {
    flex: 0 1 300px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    padding: 4px 20px;
}

.char-img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border: 3px solid;
    border-radius: 8px;
}

.quotes-container {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 80px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.quote-text {
    font-size: smaller;
}

.body-header {
    margin-top: 40px;
    text-align: center;
}

#cersei, #tyrion {
    border-color: gold;
}

#littlefinger {
    border-color: forestgreen;
}

#arya {
    border-color: gray;
}

.main-quote-container {
    background-color: #E5E7EB;
}

.main-quote {
    margin-top: 80px;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 0;
}

.author {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    margin-top: 0;
    margin-bottom: 80px;
}

.signup-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 20px 0px;
}

.signup-button {
    border-radius: 4px;
    border: 2px solid white;
    font-size: smaller;
    color: white;
    margin-right: 60px;
}

.signup-text {
    margin-left: 60px;
}

.signup-header {
    margin-bottom: 0;
}

.signup-expl {
    margin-top: 0;
    font-size: smaller;
}

.footer {
    text-align: center;
    color: white;
    padding: 20px 0;
}